

<app-header></app-header>

{{ data | getProp: [0, 'test'] }}

<button (click)="addItem()">Add new data item</button>
<router-outlet></router-outlet>




<!-- 
<button  (click)="changeActiveTemplate()"  [appHighlight]="isActive"> Change Template</button>
<ng-template #isActiveTemplate>
    IS ACTIVE - TRUE
</ng-template>
<ng-template #isNotActiveTemplate>
    IS ACTIVE - FALSE
</ng-template>

<ng-container *ngTemplateOutlet="isActive ? isActiveTemplate : isNotActiveTemplate"></ng-container> -->

<app-footer></app-footer>
